.AppBar {
    display: inline-block !important;
    background-color: #0083f4 !important;
    font-size: 14px !important;
    font-size: 20px;
    letter-spacing: -.55px;
    margin-right: 10px;
    margin-bottom: 30px;
    height: 180px !important;
    background-image: url(https://test.mytablemesa.com/Content/images/rd/course-search-hero.jpg) !important;
    background-size: cover;
    height: 100%;
    width: 100% ;
    background-position: center center;
    font-family: "Open Sans" !important;
    text-align: center;
    padding: 80px 0;
}

.DivAppBar {
    flex-grow: 1;
}

.Title {
    flex-grow: 1;
}