.Card {
    width: 360px;
    height: 261px;
    padding: 0;
    margin-bottom: 20px;
    font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
    -webkit-box-shadow: 4px 4px 8px 2px rgba(133,129,133,0.67) !important;
    -moz-box-shadow: 4px 4px 8px 02px rgba(133,129,133,0.67) !important;
    box-shadow: 4px 4px 8px 2px rgba(133,129,133,0.67) !important;
}

.CardHeader {
    background-color: #F3F5F7 !important;
    height: 68px;
    width: 360px;
    padding: 0 18px 0 27px;
    margin: 0;
}

.Avatar {
    background-color: rgb(255, 153, 0) !important;
    height: 82px !important;
    width: 82px !important;
    border-radius: 3px !important;
    position: relative !important;
    top: 21px !important;
}

.Chip {
    padding: 4px 18px 4px 18px;
    background-color: #fff !important;
    border: solid 1px #d0d8dc !important;
    color: #82888a !important;
    font-size: 12px;
    margin: 19px;
    font-size: 12px;
    font-weight: bold;
}

.CourseTitle {
    color: #333 !important;
    font-size: 15px !important;
    font-weight: Bold !important;
    padding-top: 20px;
}

.CourseInstitution {
    color: #82888a !important;
    font-size: 14px !important;
    font-weight: Bold !important;
}

.CoursePrice {
    color: #0084f5 !important;
    font-weight: bold !important;
    font-size: 19px !important;
    letter-spacing: 1.23px !important;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}