.SearchField {
    float: left !important;
    padding-right: 30px !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    margin-right: 30px !important;
    height: 25px;
    width: 525px;
    font-size: 18px !important;
    font-family: "Open Sans" !important;
    color: #333 !important;
    font-weight: bold;
}

.InputUnderline {
    height: 1.42857143 !important;
    color: #333 !important;
}

.SearchIcon {
    color: #97cfff;
}


.Adornment {
    padding: 10px 16px 10px 0px !important;
}